/********************************/
/******** Body/Background *******/
:root {
    --primary-green: rgba(81, 211, 139, 0.92);
}

* {
    font-family: 'Montserrat', sans-serif;
    color: white;
}

body {
    background-image: url("../images/bg4.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

/* Main Div Wrapper */
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/********************************/
/************ Header ***********/

header {
    background-color: hsla(162, 86%, 48%, 0.876);
    padding: 15px 0;
    position: realtive;
}

#logo {
    height: 38px;
    display: inline;
    position: absolute;
    left: 10px;
    top: 25px;
}

h1 {
    padding: 10px 0;
    color:  #184218;
    font-size: 30px;
    font-weight: 600;
    text-align: right;
    margin-right: 15px;
    color: white;
    font-family: 'Stick', sans-serif;
    display: block;
}

h4 {
    position: relative;
    left: 37px;
    Bottom: 12px;
    font-weight: bold;
}

nav {
    list-style: none;
    text-align: center;
    margin-bottom: 15px;
    background-color: hsla(162, 86%, 48%, 0.876);
    box-shadow: 0px 10px 10px hsla(162, 88%, 16%, 0.876);
}

nav li {
    display: inline;
    padding-right: 10px;
    font-weight: 600;
}

a {
    color: white;
}

/* Main body */

label {
    font-size: 12px;
    margin-bottom: 5px;
}

footer {
    position: fixed;
    bottom: 0;
    height: 50px;
    width: 100%;
}

.container {
    display: block;
    position: fixed;
    top: 115px;
}

.panel {
    background-color: hsla(171, 94%, 19%, 0.876);
    padding: 15px;
}

.tab {
    text-decoration: none;
}

.save {
    width: 240px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.clearSort {
    background-color: rgba(24, 61, 41, 0.92);
    position: fixed;
    bottom: 0;
    width: 335px;
}

.switch {
    display: flex;
    position: relative;
    top: 10px;
    left: 7px;
}

#mainBody {
    height: 412px;
}

#container {
    width: 335px;
    display: block;
    position: absolute;
    top: 160px;
}

#myForm {
    width: 305px;
}

#park-name, #date-visited {
    width: 135px;
    padding: 2px;
}

#textarea {
    width: 120px;
}

#save {
    width: 240px;
}

#memBtn {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    right: 5px;
}

#memBtnBox {
    height: 40px;
    float: right;
    position: relative;
    right: 5px;
    bottom: 20px;
}

#arrow {
    display: flex;
    position: relative;
    left: 9px;
}

#showData {
    max-height: 450px;
    overflow: scroll;
    overflow-x: hidden;
    border-radius: 5px;
}

#clearBtn {
    float: right;
    position: relative;
    right: 18px;
    top: 5px;
    white-space: nowrap;
}

#modalCard {
    margin: 100px auto 0 auto;
    width: 300px;
}

#modalHead {
    height: 70px;
}

#noSaved {
    margin-bottom: 30px !important;
}

#switchBox {
    float: left;
    position: relative;
    background-color: hsla(171, 94%, 19%, 0.876);
    width: 87px;
    height: 35px;
    left: 30px;
    top: 0px;
    border-radius: 5px;
}

tr>:nth-child(1) { 
    Width: 28%;
    }

tr>:nth-child(3) { 
    Width: 50%;
    }

#memBtn:hover, #homeTab:hover {
    text-decoration: underline;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
  }

  .clear {
        background: rgb(255, 0, 0);
        color: #fff;
        font-family: 'Helvetica', 'Arial', sans-serif;
        font-size: 1em;
        font-weight: bold;
        text-align: center;
        width: 25px;
        height: 25px;
        border: 0px;
        border-radius: 5px;
  }
  
  /* Hide default HTML checkbox */
  .invis {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    width: 30px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(204, 204, 204, 0.87);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: hsla(162, 86%, 48%, 0.876);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px hsla(162, 86%, 48%, 0.876);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 17px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

/***** Media queries *****/

@media (min-width: 400px) {
    h1 {
        margin-right: 25px;
    }

    #logo {
        height: 50px;
        top: 20px;
        left: 15px;
    }
    #container {
        width: 360px;
    }
    #myForm {
        width: 330px;
    }
    #modalCard {
        margin: 100px auto 0 auto;
        width: 350px;
    }
}

@media (min-width: 500px) {
    h1 {
        text-align: center;
        right: 0;
        margin: auto;
    }
    #container {
        width: 460px;
    }
    #myForm {
        width: 430px;
    }
    #modalCard {
        margin: 100px auto 0 auto;
        width: 420px;
    }
}

@media (min-width: 700px) {
    #container {
        width: 660px;
    }
    #myForm {
        width: 630px;
    }
    #modalCard {
        margin: 100px auto 0 auto;
        width: 600px;
    }
}

@media (min-width: 900px) {
    header {
        height: 150px;
    }
    h1 {
        margin-top: 50px;
    }
    #logo {
        height: 80px;
        top: 50px;
        left: 25px;  
    }
    #container {
        width: 860px;
        top: 240px;
    }
    #myForm {
        width: 830px;
    }
    #modalCard {
        margin: 250px auto 0 auto;
        width: 800px;
    }
}