* {
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    position: fixed;
    top: 0px;
    margin: 0;
    width: 100%;
    background-color: #294628;
    border-bottom: solid #1C2F1B 3px;
    box-shadow: 0px 2px 10px #294628;
}

h1 {
    color: #5A9857;
    font-weight: bold;
    text-align: center;
    margin: 8px;
}

nav {
    list-style: none;
    text-align: center;
    width: 240px;
    margin: 8px auto;
}

nav li {
    display: inline;
    width: 40px;
    margin: auto;
}

a {
    text-decoration: none;
    color: #5A9857;
    padding: 8px;
}

div {
    padding: 5px;
}

.content {
    margin-top: 115px;
}

.input {
    width: 240px;
    margin: auto;
}

.button {
    width: 120px;
    margin: auto;
}

.save {
    width: 240px;
    margin: auto;
}

#park-name, #date-visited {
    width: 135px;
    padding: 2px;
}

#save {
    width: 240px;
}

#showData {
    max-height: 450px;
    overflow: scroll;
    overflow-x: hidden;
}

#clear {
    margin-top: 8px;
}

textarea {
    width: 234px;
    height: 75px;
}

table {
    margin: 5px auto 5px auto;
    padding: 15px;    
    width: 260px;
}

th, td, p, input {
    font:11px Verdana;
}

table, th, td {
    border: solid 1px #DDD;
    border-collapse: collapse;
    padding: 2px 3px;
    text-align: center;
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    font-weight:bold;
    background-color: #6ca969;
}

tr>:nth-child(1) { 
    Width: 23%;
    }

tr>:nth-child(3) { 
    Width: 58%;
    }

label {
    font-size: 13px;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #294628;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #294628;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 17px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

tr:hover {
    background-color: #f5f5f5;
}

#show:visited {
    transition: all 2s;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size: 11px;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    font-size: 11px;
  }
  :-ms-input-placeholder { /* IE 10+ */
    font-size: 11px;
  }
  :-moz-placeholder { /* Firefox 18- */
    font-size: 11px;
  }

@media (min-width: 320px) {
    table {
        width: 300px;
    }
    .input, .save, #save {
        width: 280px;
    }
    textarea {
        width: 274px;
    }
}

@media (min-width: 360px) {
    .content{
        margin-top: 120px;
    }
    table {
        width: 340px;
    }
    .input, .save, #save {
        width: 320px;
    }
    textarea {
        width: 314px;
    }
}

@media (min-width: 400px) {
    .content{
        margin-top: 135px;
    }
    table {
        width: 390px;
    }
    .input, .save, #save {
        width: 360px;
    }
    textarea {
        width: 354px;
    }
}

@media (min-width: 640px) {
    .content{
        margin-top: 145px;
    }
    table {
        width: 630px;
    }
    .input, .save, #save {
        width: 600px;
    }
    textarea {
        width: 594px;
        height: 120px;
    }
}

@media (min-width: 900px) {
    .content{
        margin-top: 160px;
    }
    table {
        width: 890px;
    }
    .input, .save, #save {
        width: 860px;
    }
    textarea {
        width: 854px;
        height: 160px;
    }
}