/********************************/
/******** Body/Background *******/

* {
    font-family: 'Montserrat', sans-serif;
    color: white;
}

body {
    background-image: url("../images/bg4.jpg");
    background-size: 100%;
    position: relative;
}

/* .layer {
    background-color: rgba(117, 222, 124, 0.331);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
} */

/* Main Div Wrapper */
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/********************************/
/************ Header ***********/

header {
    margin-bottom: 15px;
    background-color: rgba(81, 211, 89, 0.92);
    border-bottom: solid 5px black;
    box-shadow: 5px 0px 5px black;
    padding: 15px 0;
}

h1 {
    padding: 10px 0;
    color:  #184218;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    color: white;
}

nav {
    list-style: none;
    text-align: center;
}

nav li {
    display: inline;
    padding-right: 10px;
    font-weight: 600;
}

a {
    text-decoration: underline;
    color: white;

}

/************************************/
/************ Search/GPS ***********/

.search-container {
    margin-bottom: 15px;
    padding: 1px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    background-color: transparent;
}

.search-container p {
    padding: 0 10px;
    font-weight: 600;
}

#zip {
    width: 120px;
}

/* controls placeholder text for zip form */
::placeholder {
    color: rgba(81, 211, 89, 0.92);
}

.coord {
    margin: 0;
    padding: 5px;
    border-radius: 25px;
}


.placeholder-map {
    margin: 0 10%;
    /* padding: 10px; */
}

/****************************************/
/************ Search Results ***********/

#results {
    margin: 0 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.resultCard {
    background-color: rgba(81, 211, 89, 0.92);
    margin: 15px auto;
    padding: 20px;
    width: 100%;
    border: inset black;
    border-bottom: solid 5px black;
    box-shadow: 5px 5px 5px black;
    border-radius: 15px;
}

/***************************/
/***** Google Map *********/

#map {
    height: 400px;
    width: 50%;
    background-color: grey;
    margin: auto;
}

.map-div {
  display: none;
}

.map-div.show {
  display: block;
}

/************************* */