* {
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #385c38;
    color: white;
}

header {
    width: 100%;
    margin: auto;
    margin-bottom: 15px;
    padding: 20px;
    background-color: transparent;
    border-bottom: solid 5px black;
    box-shadow: 5px 5px 5px black;
}

nav {
    list-style: none;
    text-align: center;
}

nav li {
    display: inline;
}

h1 {
    color:  #184218;
    font-weight: bold;
    text-align: center;
    color: white;
}

a {
    text-decoration: none;
    color: white;

}

.content {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.gps {
    margin-bottom: 15px;
    padding: 1px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: transparent;
}

.coord {
    margin: 0;
    padding: 5px;
    border-radius: 25px;
}

.mapBox {
    clear: left;
    margin: auto;
}

.map {
    margin: 0;
    padding: 10px;
}

::placeholder {
    color: white;
}

.container {
    text-align: center;
    margin: auto;
    padding: 10px;
    border: inset black;
    border-bottom: solid 5px black;
    box-shadow: 5px 5px 5px black;
    border-radius: 25px;
}

/***************************/
/***** Google Map *********/

#map {
    height: 400px;
    width: 50%;
    background-color: grey;
    margin: auto;
}

.map-div {
  display: none;
}

.map-div.show {
  display: block;
}

/***************************/