/********************************/
/******** Body/Background *******/
:root {
    --primary-green: rgba(81, 211, 139, 0.92);
}

* {
    font-family: 'Montserrat', sans-serif;
    color: white;
}

body {
    background-image: url("../images/bg4.jpg");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center center;
    /* position: relative; */ /* Not necessary unless we use the filter below */
}

/**** This is a test for a transparent layer over the background. It does not work properly at the moment, as it prevents the user from being able to click on the zip code search*****/
/* .layer {
    background-color: rgba(117, 222, 124, 0.331);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
} */

/* Main Div Wrapper */
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#main {
    padding-bottom: 15px;
}

/********************************/
/************ Header ***********/

header {
    margin-bottom: 15px;
    background-color: var(--primary-green);
    border-bottom: solid 5px black;
    box-shadow: 5px 0px 5px black;
    padding: 15px 0;
    position: relative;
}
#logo {
    height: 50px;
    display: inline;
    position: absolute;
    left: 10px; /* added */
    top: 20px; /* added */
}
h1 {
    padding: 10px 0;
    color:  #184218;
    font-size: 48px;
    font-weight: 600;
    text-align: center;
    color: white;
    font-family: 'Stick', sans-serif;
    display: block;
}
nav {
    list-style: none;
    text-align: center;
}
nav {
    list-style: none;
    text-align: center;
}
nav li {
    display: inline;
    padding-right: 10px;
    font-weight: 600;
}
a {
    color: white;
}

/************************************/
/*********** Map/Results ************/

.card-image {
    margin-bottom: 15px;
}

.resultCard {
    width: 240px;
}

/************************************/
/************ Search/GPS ***********/

.search-container {
    margin-top: 30px; /* added */
    padding: 1px;
    display: flex;
    flex-direction: column;
    justify-content: center; /* updated */
    align-items: center; /* updated */
    background-color: transparent;
}

.search-container p {
    padding: 0 10px;
    font-weight: 600;
}

#gps {
    padding: 15px; /* added */
    border-radius: 15px; /* added */
}
#or {
    margin: 10px 0 0 0; /* added */
    font-size: 20px; /* added */
}
#zip {
    width: 150px; /* added */
    margin: 10px 15px 0 0; /* added */
    display: inline-flex;
    border-radius: 15px; /* added */
}
#go {
    margin: 10px 0 0 0; /* added */
    border-radius: 15px; /* added */
}
/* controls placeholder text for zip form */
::placeholder {
    color: var(--primary-green);
}

.coord {
    margin: 0;
    padding: 5px;
    /* border-radius: 25px; */
    display: inline-flex;
}

.placeholder-map {
    margin: 0 auto; /* added */
    padding: 10px; /* added */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.placeholder-map img {
    /* height: 400px; */
    width: 90%; /* updated */
    margin: 30px auto 0; /* added */
} 
/****************************************/
/************ Search Results ***********/

#results {
    margin: 0 15%;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsla(171, 94%, 19%, 0.876);
}

.resultCard {
    background-color: var(--primary-green);
    margin: 15px auto;
    padding: 7px 7px 10px 7px;
    width: 100%;
    border: inset hsla(170, 94%, 6%, 0.876);
    border-bottom: solid 5px hsla(170, 94%, 6%, 0.876);
    box-shadow: 5px 5px 5px hsla(170, 94%, 6%, 0.876);
    border-radius: 10px;
}

/***************************/
/***** Google Map *********/

#map {
    height: 400px;
    width: 50%;
    background-color: grey;
    margin: auto;
}

.map-div {
  display: none;
}

.map-div.show {
  display: block;
}
/************************* */

@media screen and (min-width: 500px) { /* updated */
    #logo {
        left: 20px; /* added */
    }
    .search-container { /* updated */
        flex-direction: row; /* updated */
        align-items: baseline; /* updated */
    } /* updated */
    #or {
        margin: 0 5px; /* added */
    }
    #zip {
        margin: 0 15px 0 0; /* added */
    }
    #go {
        margin: 0; /* added */
    }
    .placeholder-map img  {
        width: 90%; /* updated */
    }
} /* updated */

@media screen and (min-width: 800px) { /* updated */
    .search-container {
        margin-top: 40px; /* added */
    }
    #map {
        width: 80%; /* updated */
        margin: 70px auto 0; /* added */
    }
    #results {
        margin: 70px 10% 0; /* added */
    }
} /* updated */
@media screen and (min-width: 1200px) { /* updated */
    .search-container {
        margin-top: 50px; /* added */
    }
    #map {
        height: 600px; /* added */
        width: 70%; /* updated */
        margin: 80px auto 0; /* added */
    }
    #results {
        margin: 80px 10% 0; /* added */
    }
    .resultCard {
        width: 80%;
    }
} /* updated */
@media screen and (min-width: 1400px) { /* updated */
    #map {
        height: 700px; /* added */
    }
    .resultCard {
        width: 70%;
    }
@media screen and (min-width: 1600px) { /* updated */
    .resultCard {
        width: 60%;
    }
}
}